.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-container {
  display: flex;
  flex-wrap: wrap;
}
.card-img {
  width: 60px !important;
  height: 60px;
}

.card-item {
  display: flex;
}
.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.detail-btn {
  margin-left: auto;
}

.card-details {
  display: flex;
  align-items: center;
}

.card-content {
  width: 100%;
}
.break-line {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #a9a9a9;
}
.team-container {
  display: flex;
  align-items: center;
}
.allteams-container {
  display: flex;
  flex-wrap: wrap;
}
.game-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.game-tiltes-container {
  display: flex;
  flex-direction: column;
}
.player-container {
  margin-left: 6px;
}
.player-description {
  display: flex;
  flex-direction: column;
}

#sticky-footer {
  flex-shrink: none;
}
